@mixin buttons
    padding: .5rem .8rem
    border-radius: 1.5rem
    cursor: pointer
    font-weight: 700
    font-size: .9rem

@mixin botao 
    color: #000
    border: 1px solid #000
    padding: 1rem
    border-radius: 2rem
    line-height: 0
    transition: .2s