@use 'variables'
    
@mixin buttons
    padding: .5rem .8rem
    border-radius: 1.5rem
    cursor: pointer
    font-weight: 700
    font-size: .9rem

@mixin botao 
    display: block
    margin: auto
    color: #000
    border: 1px solid #000
    padding: 1rem
    border-radius: 2rem
    line-height: 0
    transition: .2s

@mixin sections
    display: flex
    align-items: center
    background-color: variables.$bg-section

@mixin container 
    text-align: center
    display: flex
    flex-direction: column 
    gap: 2rem
    line-height: 2
    padding: 2rem 5rem
    width: 50%
    height: 50%

@mixin logo-desktop-responsivo 
    @media(max-width: 1327px)
        @content

@mixin quebra1
    @media(max-width: 1176px)
        @content

@mixin quebra2
    @media(max-width: 1118px)
        @content

@mixin quebra3
    @media(max-width: 1018px)
        @content

@mixin quebra4
    @media(max-width: 978px)
        @content

@mixin quebra5 
    @media(max-width: 890px)
        @content

@mixin quebra6
    @media(max-width: 768px)
        @content

@mixin quebra7 
    @media(max-width: 563px)
        @content

@mixin quebra8
    @media(max-width: 387px)
        @content

@mixin sumirMenu 
    @media(min-width: 1018px)
        @content