@use 'variables'
    
@mixin buttons
    padding: .5rem .8rem
    border-radius: 1.5rem
    cursor: pointer
    font-weight: 700
    font-size: .9rem

@mixin botao 
    display: block
    margin: auto
    color: #000
    border: 1px solid #000
    padding: 1rem
    border-radius: 2rem
    line-height: 0
    transition: .2s

@mixin sections
    display: flex
    align-items: center
    background-color: variables.$bg-section

@mixin container 
    text-align: center
    display: flex
    flex-direction: column 
    gap: 2rem
    line-height: 2
    padding: 2rem 5rem
    width: 50%
    height: 50%

@mixin logo-desktop-responsivo 
    @media(max-width: 1327px)
        @content

@mixin quebra1
    @media(max-width: 1176px)
        @content

@mixin quebra2
    @media(max-width: 1118px)
        @content

@mixin quebra3
    @media(max-width: 1018px)
        @content

@mixin quebra4
    @media(max-width: 978px)
        @content

@mixin quebra5 
    @media(max-width: 890px)
        @content

@mixin quebra6
    @media(max-width: 768px)
        @content

@mixin quebra7 
    @media(max-width: 563px)
        @content

@mixin quebra8
    @media(max-width: 387px)
        @content
    
// MENU RESPONSIVO

@mixin menu-responsivo 
        #menu
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 2rem
            position: absolute
            width: 100%
            top: 70px
            right: 0px
            background: variables.$bg-section
            transition: .6s
            z-index: 1000
            height: 0px
            visibility: hidden
            overflow-y: hidden

        #nav.active #menu
            height: calc(100vh - 70px)
            visibility: visible
            overflow-y: auto

        #menu a
            margin: 0 1rem
            border-bottom: 2px solid rgba(0, 0, 0, .05)
            color: variables.$color-section
            font-size: 1.8rem

        #btn-mobile
            display: flex
            padding: .5rem 1rem
            font-size: 1rem
            border: none
            background: none
            cursor: pointer
            gap: .5rem

        #hamburger
            border-top: 2px solid
            width: 20px

        #hamburger::after , #hamburger::before
            content: ''
            display: block
            width: 20px
            height: 2px
            background: currentColor
            margin-top: 5px
            transition: .3s
            position: relative

        #nav.active #hamburger 
            border-top-color: transparent

        #nav.active #hamburger::before
            transform: rotate(135deg)

        #nav.active #hamburger::after
            transform: rotate(-135deg)
            top:-7px

@mixin quebra-menu 
    @media(min-width: 1018px)
        @content