@use 'variables'
@use 'mixins'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none
    text-decoration: none

body
    font-family: variables.$fonte-principal

.header
    display: flex
    justify-content: space-between
    padding: 2rem

    &-nav
        display: flex
        align-items: center
        gap: 3rem
        
        ul
            display: flex

            li
                margin-right: 2rem

                a
                    text-transform: uppercase
                    color: #000
                    font-weight: 700
                
                a:hover 
                    color: variables.$link-hover
    
    &-div
        display: flex
        align-items: center
        gap: 2rem

        a
            color: #000
            font-weight: 700

        &-button1
            border: 1px solid #000
            background-color: #fff
            @include mixins.buttons
        
        &-button2
            border: none
            background-color: #000
            color: #fff
            @include mixins.buttons

.logo-desktop
    background-image: url(../assets/banner_2437495195_desktop.jpg)
    background-size: cover
    background-position: center center
    height: 400px

.main
    width: 90%
    margin: auto

    &-section1 
        display: flex
        flex-direction: column
        gap: 2rem
        line-height: 2
        text-align: center
        align-items: center
        background-color: variables.$bg-section
        margin: 2rem 0
        padding: 2rem

        p 
            color: variables.$color-section
            font-weight: 700
        
        a 
            @include mixins.botao
        
        a:hover 
            box-shadow: 1px 2px 4px #00000070

    &-section2 
        @include mixins.sections
        margin-bottom: 2rem

        &-div1 
            background-image: url(../assets/sb-dia-do-fotografo.jpg)
            background-size: cover
            background-repeat: no-repeat
            height: 500px
            width: 50%

        &-div2
            @include mixins.container

            h2, p 
                color: variables.$color-section
                font-weight: 700

            a 
                @include mixins.botao
            
            a:hover 
                box-shadow: 1px 2px 4px #00000070

    &-section3 
        @include mixins.sections

        &-div1 
            @include mixins.container
            
            h2, p
                color: variables.$color-section
                font-weight: 700
            
            a 
                @include mixins.botao
            
            a:hover 
                box-shadow: 1px 2px 4px #00000070

        &-div2 
            background-image: url(../assets/featured-drinks.jpg)
            background-size: cover
            background-repeat: no-repeat
            height: 300px
            width: 50%